APP_NAME="Piwee"
APP_ENV=production
APP_KEY=base64:CHANGEME_WILL_BE_GENERATED
APP_DEBUG=false
APP_URL=https://votre-domaine.com

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=sqlite
DB_DATABASE=/var/www/vhosts/votre-domaine.com/httpdocs/database/database.sqlite

CACHE_STORE=file
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

MAIL_MAILER=sendmail
MAIL_FROM_ADDRESS=noreply@votre-domaine.com
MAIL_FROM_NAME="Piwee"

QUEUE_CONNECTION=database
